<div class="blog" id="blog">
	<div class="container">
		<h3 class="tittle">Son Gelişmeler</h3>
		<p class="heading-btm-w3ls">Tarım İle İlgili Son Dakika Haberleri.</p>
		<div class="blog-grid-w3-agileits">
			<div class=" col-md-7 blog-img1-agileits-w3layouts">
				<a href="#" data-toggle="modal" data-target="#myModal2"></a>
			</div>
			<div class=" col-md-5 blog-info-w3layouts">
				<h6> <a href="#" data-toggle="modal" data-target="#myModal2">BUĞDAY`DA SON DAKİKA</a></h6>
				<div class="inner-info">
					<a  class="blog-text-w3ls bar">Emre Binici.</a><span>@DateTime.Now.ToShortDateString()</span>
					<p class="para-w3-agileits">Son araştırmalar, buğday üretiminde önemli bir artış yaşandığını gösteriyor. Yeni geliştirilen sürdürülebilir tarım teknikleri ve doğal gübre kullanımı sayesinde, çiftçiler bu yıl verimlilik rekorları kırdı. Bu artış, hem yerel ekonomiye hem de küresel gıda güvenliğine olumlu katkı sağlıyor. Çiftçiler, gelecek yıl için de umut dolu, bu yenilikçi yöntemlerle buğday üretiminin daha da artacağına inanıyorlar.</p>
				</div>
				<a href="#" class="blog-more-agile" data-toggle="modal" data-target="#myModal2">Daha Fazla</a>

			</div>
			<div class="clearfix"></div>
		</div>
		<div class="blog-grid-w3-agileits">
			<div class=" col-md-5 blog-info-w3layouts blog-mid">
				<h6><a href="#" data-toggle="modal" data-target="#myModal3">SAMAN`DA SON DAKİKA</a></h6>
				<div class="inner-info-mid">
					<a  class="blog-text-w3ls mid-bar">Deniz Gül.</a><span>@DateTime.Now.ToShortDateString()</span>
					<p class="para-w3-agileits">Çiftçiler için müjdeli haber: Bu yılki saman üretimi rekor seviyelere ulaştı! Modern tarım tekniklerinin ve doğal gübrelerin etkin kullanımı, buğday hasadının ardından kaliteli saman üretimini artırdı. Bu artış, hem hayvancılık sektörüne büyük katkı sağlıyor hem de doğal kaynakların verimli kullanımını teşvik ediyor. Uzmanlar, gelecek yıllarda da bu trendin devam edeceğini ve çiftçilerin daha sürdürülebilir bir üretim modeli benimsediğini belirtiyor.</p>
				</div>
				<a href="#" class="blog-more-agile" data-toggle="modal" data-target="#myModal3">Read More</a>

			</div>
			<div class=" col-md-7 blog-img2-agileits-w3layouts">
				<a href="#" data-toggle="modal" data-target="#myModal3"></a>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="blog-grid-w3-agileits">
			<div class=" col-md-7 blog-img3-agileits-w3layouts">
				<a href="#" data-toggle="modal" data-target="#myModal4"></a>
			</div>
			<div class=" col-md-5 blog-info-w3layouts">
				<h6><a href="#" data-toggle="modal" data-target="#myModal4"> ÇAY`DA SON DAKİKA</a></h6>
				<div class="inner-info">
					<a class="blog-text-w3ls bar">Eylül Yazar</a><span>@DateTime.Now.ToShortDateString()</span>
					<p class="para-w3-agileits">Çay üreticileri için harika haberler var: Bu yıl çay hasadı beklentilerin üzerinde gerçekleşti! Yeni sürdürülebilir tarım teknikleri ve organik gübre kullanımı sayesinde, çay bitkileri hem daha sağlıklı büyüdü hem de kaliteli yapraklar verdi. Bu artış, yerel ekonomilere can suyu olurken, aynı zamanda çay severler için daha bol ve lezzetli çay anlamına geliyor. Uzmanlar, bu trendin devam edeceğini ve çay tarımının daha da verimli hale geleceğini belirtiyor.</p>
				</div>
				<a href="#" class="blog-more-agile" data-toggle="modal" data-target="#myModal4">Read More</a>

			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>

<div class="modal fade" id="myModal2" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4>In Harvest</h4>
				<img src="~/web/images/b1.jpg" alt=" " class="img-responsive">
				<h5>BUĞDAY</h5>
				<p>				
					Buğday üretimindeki verim artışının ardından, çiftçiler saman üretiminde de büyük bir başarı elde etti. Yeni sürdürülebilir tarım yöntemleri ve doğal gübre kullanımıyla, saman kalitesi ve miktarında önemli bir artış yaşandı. Bu gelişme, hayvancılık sektörüne büyük katkı sağlayarak, hayvan yemi maliyetlerini düşürdü ve çiftçilerin kar marjını artırdı. Uzmanlar, bu trendin devam edeceğini ve çiftçilerin gelecekte daha da yüksek verim elde edeceğini belirtiyor.
				</p>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="myModal3" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4>In Harvest</h4>
				<img src="~/web/images/b2.jpg" alt=" " class="img-responsive">
				<h5>SAMAN</h5>
				<p>Saman üretiminde de olumlu gelişmeler yaşanıyor: Bu yılki hasat, beklenenden çok daha yüksek oldu! Modern tarım teknikleri ve doğal gübre kullanımı sayesinde saman kalitesi zirveye ulaştı, bu da hayvan yemi maliyetlerini önemli ölçüde düşürdü. Çiftçiler, artan saman verimi ile hem maliyetlerini azalttı hem de daha fazla kar elde etti. Uzmanlar, sürdürülebilir tarım uygulamalarının devam etmesi durumunda saman üretiminin daha da artacağını ve çiftçilerin gelecekte daha da güçlü bir ekonomik yapıya sahip olacağını belirtiyor.</p>

			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="myModal4" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4>In Harvest</h4>
				<img src="~/web/images/b3.jpg" alt=" " class="img-responsive">
				<h5>ÇAY</h5>
				<p>Çay üretimindeki artışın ardından, üreticiler kaliteli ve bol hasatla yüzleri güldürdü. Sürdürülebilir tarım uygulamaları ve organik gübre kullanımı sayesinde, çay bitkileri daha sağlıklı gelişerek yüksek verim sağladı. Bu gelişme, yerel ve global çay pazarında olumlu etki yarattı, üreticiler daha fazla kazanç elde etti. Uzmanlar, bu trendin devam etmesiyle birlikte çay tarımının daha da güçleneceğini ve çevresel faydaların artacağını belirtiyor.</p>
			</div>
		</div>
	</div>
</div>