@model EntityLayer.Concrete.Contact
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminLayout2.cshtml";
}

<div class="col-lg-12 grid-margin stretch-card">
	<div class="card">
		<div class="card-body">
			<h4 class="card-title">Mesaj Detayları</h4>
			<form method="post">
				@Html.HiddenFor(x => x.ContactID)

				@Html.Label("İsim")
				<input type="text" asp-for="Name" class="form-control" />				
				<br />

				@Html.Label("Mail")
				<input type="text" asp-for="Mail" class="form-control" />			
				<br />

	    		<div class="form-group">
				<label>Mesajlar</label>
				<textarea class="form-control" cols="5" rows="10" asp-for=Message></textarea>
			    </div>

			</form>
		</div>
	</div>
</div>
