
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout2.cshtml";
}

<h1>Excel Raporları</h1>
<div class="form-control">
    <br />
    <br />
    <td class="form-control"><a href="/Report/StaticReport" class="btn btn-outline-info">Statik Raporlar</a></td>
    <br />
    <br />
    <td class="form-control"><a href="/Report/ContactReport/" class="btn btn-outline-primary">Mesaj Raporları</a></td>
    <br />
    <br />
    <td class="form-conrol"> <a href="/Report/AnnouncamentReport/" class="btn btn-outline-primary">Duyuru Raporları</a></td>
</div>





