<!-- partial:../../partials/_sidebar.html -->
<nav class="sidebar sidebar-offcanvas" id="sidebar">
	<ul class="nav">
		<li class="nav-item">
			<a class="nav-link" href="/Dashboard/Index/">
				<i class="mdi mdi-home menu-icon"></i>
				<span class="menu-title">Dashboard</span>
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/Default/Index/">
				<i class="mdi mdi-file-document menu-icon"></i>
				<span class="menu-title">İlgili Sayfa</span>
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/Service/Index/">
				<i class="mdi mdi-view-headline menu-icon"></i>
				<span class="menu-title">Hizmetlerimiz</span>
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/Team/Index/">
				<i class="mdi mdi mdi-tea-outline menu-icon"></i>
				<span class="menu-title">Takım Arkadaşlarımız</span>
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/Chart/Index/">
				<i class="mdi mdi-chart-pie menu-icon"></i>
				<span class="menu-title">Grafikler</span>
			</a>
		</li>
	
		<li class="nav-item">
			<a class="nav-link" href="/Announcement/Index/">
				<i class="mdi mdi-format-annotation-plus menu-icon"></i>
				<span class="menu-title">Duyurular</span>
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/Contact/Index/">
				<i class="mdi mdi-android-messages menu-icon"></i>
				<span class="menu-title">Gelen Mesajlar</span>
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/Adresses/Index/">
				<i class="mdi mdi-arrow-down-drop-circle menu-icon"></i>
				<span class="menu-title">Adres Bilgileri</span>
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/Image/Index/">
				<i class="mdi mdi-file-image menu-icon"></i>
				<span class="menu-title">Görseller</span>
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/Admin/Index/">
				<i class="mdi mdi-file-document-box-outline menu-icon"></i>
				<span class="menu-title">Admin Hizmetleri</span>
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/Report/Index/">
				<i class="mdi mdi-file-document menu-icon"></i>
				<span class="menu-title">Raporlar</span>
			</a>
		</li>			
	</ul>
</nav>
<!-- partial -->
<!-- main-panel ends -->
